* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  max-width: 1110px;
  margin: auto;
}

@font-face {
  font-family: "Helvetica Neue Cyr Light";
  src: url("../fonts/HelveticaNeueCyr-Light.woff");
  src: url("../fonts/HelveticaNeueCyr-Light.woff#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Cyr Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Cyr Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Cyr Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Cyr CondensedBlack";
  src: url("../fonts/HelveticaNeueCyr-CondensedBlack.eot");
  src: url("../fonts/HelveticaNeueCyr-CondensedBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-CondensedBlack.woff") format("woff"), url("../fonts/HelveticaNeueCyr-CondensedBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue Cyr Roman", sans-serif;
  text-align: center;
  color: #ffffff;
  background: url(../img/background.png) no-repeat, #1a1a1a;
  border-radius: 6px;
  cursor: default;
}

article {
  position: relative;
  padding-top: 10px;
}

body h1 {
  margin-bottom: 0;
  font-family: "Helvetica Neue Cyr CondensedBlack", sans-serif;
  font-size: 100px;
  line-height: 150px;
  letter-spacing: 0.2em;
  color: #303030;
}

body h2 {
  position: absolute;
  top: 100px;
  width: 100%;
  font-family: "Helvetica Neue Cyr Light", sans-serif;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 0.3em;
}

hr {
  margin: 0 auto;
  width: 60px;
  height: 2px;
  border: none;
  background-color: #34c759;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(37, 37, 37, 0.95);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.navbar-container {
  max-width: 1110px;
  min-height: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.navbar-logo {
  height: 24px;
}

.nav {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu {
  font-family: "Helvetica Neue Cyr Bold", sans-serif;
  font-size: 14px;
}

.hero {
  max-width: 1110px;
  margin: 160px auto;
  font-family: "Helvetica Neue Cyr Light", sans-serif;
  text-align: center;
}

.hero-title {
  margin: 0;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.hero-description {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.7);
}

.hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero-info-main {
  margin-bottom: 0;
  width: 200px;
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.hero-info-description {
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.order-now {
  margin: 40px auto 70px auto;
  padding: 25px 50px 20px 50px;
  font-family: "Helvetica Neue Cyr Bold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #1a1a1a;
  background-color: #34c759;
  border: none;
  border-radius: 43px;
}

.order-now:hover {
  cursor: pointer;
}

.hero img {
  width: 18px;
}

.about {
  padding-bottom: 80px;
  border-radius: 6px;
  background-color: #252525;
}

.about-text {
  margin: 60px auto;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.about-scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 980px;
}

.about-scroller-btn-right, .about-scroller-btn-left {
  border: none;
  background-color: #252525;
}

.about-scroller-btn-right {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.about-scroller-btn-right img, .about-scroller-btn-left img {
  padding: 22px;
  border: 2px solid #303030;
  border-radius: 99px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.about-scroller-btn-right img:hover, .about-scroller-btn-left img:hover {
  color: #1a1a1a;
  background-color: #34c759;
  border-color: #34c759;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.about-scroller-image {
  margin: 0 15px;
}

.work-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 30px auto;
}

.work-card {
  padding: 25px;
  width: 255px;
  height: 200px;
  border-radius: 6px;
  text-align: left;
  background-color: #252525;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.work-card-title {
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.275px;
}

.work-card-description {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.work-card:hover {
  background-color: #34c759;
  color: #1a1a1a;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.work-card:hover .work-card-description {
  color: #1a1a1a;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.work-card hr {
  margin: 10px 0 25px 0;
}

.work-card:hover hr {
  background-color: #1a1a1a;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.dishes-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 0 auto;
}

.dishes-card {
  margin-bottom: 30px;
  width: 350px;
  border-radius: 6px;
  background-color: #252525;
  text-align: left;
}

.dishes-card-top {
  position: relative;
}

.dishes-card-share {
  z-index: 98;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 8px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0.5);
}

.dishes-card-title {
  padding: 30px 30px 0 30px;
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  font-size: 32px;
  line-height: 30px;
}

.dishes-card-subtitle {
  padding: 0 30px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.7);
}

.dishes-card-description {
  padding: 20px 30px 25px 30px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.dishes-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 30px 30px;
}

.dishes-card-bottom-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dishes-card-bottom-rating-star {
  margin-bottom: 5px;
}

.dishes-card-bottom-rating-counter {
  padding: 0 15px;
  font-family: "Helvetica Neue Cyr CondensedBlack", sans-serif;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1.5px;
}

.dishes-card-bottom-order {
  padding: 0 28px 0 30px;
  border: 2px solid #303030;
  border-radius: 30px;
  font-family: "Helvetica Neue Cyr CondensedBlack", sans-serif;
  font-size: 10px;
  line-height: 40px;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.5);
  background-color: #252525;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.dishes-card-bottom-order:hover {
  border-color: #34c759;
  color: #1a1a1a;
  background-color: #34c759;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.chefs-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chef {
  margin: 60px auto 0 auto;
  width: 350px;
}

.chef-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.chef-profile-info {
  margin-left: 24px;
  text-align: left;
}

.chef-profile-name {
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.225px;
}

.chef-profile-description {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.5);
}

.chef-meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recipes-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 0 auto;
}

.recipes-cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  max-width: 540px;
  height: 510px;
}

.recipes-cards-block-small .recipes-card-bg {
  background: url(../img/recipes/recipe2.png) center;
  background-size: 100%;
}

.recipes-card {
  border-radius: 6px;
}

.recipes-card-text {
  margin: 0;
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}

.recipes-card-text-big {
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.recipes-card-text-small {
  margin-bottom: 10px;
}

.recipes-card-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 90px;
  min-height: 510px;
  background: url(../img/recipes/recipe1.png) center;
}

.recipes-card-small {
  padding: 30px 30px 25px 30px;
  text-align: left;
  background-color: #252525;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.recipes-card-small:hover {
  background-color: #34c759;
  color: #1a1a1a;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.recipes-card-small:hover .recipes-card-mealtime {
  color: #ffffff;
}

.recipes-card-small:hover .recipes-card-feedback {
  color: #1a1a1a;
}

.recipes-card-small:hover .recipes-card-feedback-img2 {
  z-index: 0;
}

.recipes-card-small:hover .recipes-card-feedback-count {
  color: #1a1a1a;
}

.recipes-card-bg {
  background-size: 100%;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.recipes-card-bg:hover {
  color: #ffffff;
  background-size: 110%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.recipes-card-bg:hover .recipes-card-feedback-img2 {
  z-index: -1;
}

.recipes-card-bg:hover .recipes-card-feedback-count {
  color: #ffffff;
}

.recipes-card-bg .recipes-card-mealtime {
  background: rgba(26, 26, 26, 0.5);
}

.recipes-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.recipes-card-mealtime {
  display: inline;
  padding: 5px 10px;
  font-family: "Helvetica Neue Cyr CondensedBlack", sans-serif;
  font-size: 10px;
  font-stretch: condensed;
  line-height: 25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #1a1a1a;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.recipes-card-mealtime-big {
  margin: 0 auto;
  padding: 0 10px;
}

.recipes-card-date {
  margin-left: 15px;
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  font-size: 12px;
  line-height: 25px;
}

.recipes-card-description {
  font-size: 14px;
  line-height: 30px;
}

.recipes-card-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-item-align: center;
      align-self: center;
  width: 150px;
}

.recipes-card-feedback-link {
  position: relative;
}

.recipes-card-feedback-img {
  margin-right: 15px;
  vertical-align: top;
}

.recipes-card-feedback-img2 {
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.recipes-card-feedback-count {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.recipes-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto 0 auto;
}

.recipes-cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  max-width: 540px;
  height: 510px;
}

.recipes-cards-block-small .recipes-card-bg {
  background: url(../img/recipes/recipe2.png) center;
  background-size: 100%;
}

.recipes-card {
  border-radius: 6px;
}

.recipes-card-text {
  margin: 0;
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}

.recipes-card-text-big {
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.recipes-card-text-small {
  margin-bottom: 10px;
}

.recipes-card-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 90px;
  min-height: 510px;
  background: url(../img/recipes/recipe1.png) center;
}

.recipes-card-small {
  padding: 30px 30px 25px 30px;
  text-align: left;
  background-color: #252525;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.recipes-card-small:hover {
  background-color: #34c759;
  color: #1a1a1a;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.recipes-card-small:hover .recipes-card-mealtime {
  color: #ffffff;
}

.recipes-card-small:hover .recipes-card-feedback {
  color: #1a1a1a;
}

.recipes-card-small:hover .recipes-card-feedback-img2 {
  z-index: 0;
}

.recipes-card-small:hover .recipes-card-feedback-count {
  color: #1a1a1a;
}

.recipes-card-bg {
  background-size: 100%;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.recipes-card-bg:hover {
  color: #ffffff;
  background-size: 110%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.recipes-card-bg:hover .recipes-card-feedback-img2 {
  z-index: -1;
}

.recipes-card-bg:hover .recipes-card-feedback-count {
  color: #ffffff;
}

.recipes-card-bg .recipes-card-mealtime {
  background: rgba(26, 26, 26, 0.5);
}

.recipes-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.recipes-card-mealtime {
  display: inline;
  padding: 5px 10px;
  font-family: "Helvetica Neue Cyr CondensedBlack", sans-serif;
  font-size: 10px;
  font-stretch: condensed;
  line-height: 25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #1a1a1a;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.recipes-card-mealtime-big {
  margin: 0 auto;
  padding: 0 10px;
}

.recipes-card-date {
  margin-left: 15px;
  font-family: "Helvetica Neue Cyr Medium", sans-serif;
  font-size: 12px;
  line-height: 25px;
}

.recipes-card-description {
  font-size: 14px;
  line-height: 30px;
}

.recipes-card-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-item-align: center;
      align-self: center;
  width: 150px;
}

.recipes-card-feedback-link {
  position: relative;
}

.recipes-card-feedback-img {
  margin-right: 15px;
  vertical-align: top;
}

.recipes-card-feedback-img2 {
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.recipes-card-feedback-count {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
/*# sourceMappingURL=style.css.map */