.about
    padding-bottom: 90px
    border-radius: 6px
    background-color: $dark-gray
    &-text
        margin-bottom: 60px
        font-size: 16px
        line-height: 30px
        color: rgba($secondary, 0.5)

.scroller
    display: flex
    justify-content: space-between
    width: 980px
    margin: auto
    &-btn-right, &-btn-left
        border: none
        background-color: $dark-gray
    &-image
        margin: 0 15px